<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static 'css/home.css'%}">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>!!!.....Welcome To POORNA - Jobs Portal.....!!!</h1>
        <p>Minute to minute updates......!!!!</p><hr><hr>
        <a href="/jobsapp/hydjobs" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">HydJobs</a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/jobsapp/husnabadjobs" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">HusnabadJobs</a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/jobsapp/mumbaijobs" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">MumbaiJobs</a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/jobsapp/punejobs" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">PuneJobs</a>

      </div>
    </div>
  </body>
</html>
